body{
    box-sizing: content-box;
    margin: 0;
    padding: 0;
    background: linear-gradient(to right ,rgb(192, 141, 151),rgb(206, 166, 224), rgb(158, 141, 214),rgb(181, 210, 233));
}

h3{
    text-align: center;
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    font-size: 30px;
    color: rgb(53, 53, 53);
    margin: 28px;
}
.contenedor-tabla{
    width: 1100px;
    margin: auto;
    min-height: 550px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-end;
   background: white;
   border-radius: 5px;
}

.contenedor-tabla table{
    width: 100%;
    text-align: left;
    border-collapse: collapse;
    
}

table th,table td{
    padding: 20px;
  
}

th{
    background: rebeccapurple;
    font-size: 18px;
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    color: rgb(255, 255, 255);
}

td{ 
    font-size: 16px;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    color: rgb(0, 0, 0);
}

tr:nth-child(odd){
    background: rgb(229, 228, 230);
}

.btn-back{
   
    width: 130px;
    height: 42px;
    border: none;
    border-radius: 5px;
    border: 1px solid rgb(63, 63, 63);
    background: rebeccapurple;
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    font-size: 15px;
    color: rgb(255, 255, 255);
}

.btn-back:hover{
    border: none;
    outline: 1px solid rgb(130, 130, 130);
    background: rgb(92, 47, 137);
}